@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .grid-bitch {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: 1fr; */
    /* grid-auto-rows: px; */
  }

  .grid-with-comments {
    grid-template-columns: minmax(300px, 640px) minmax(150px, 1fr);
  }

  .grid-fuck {
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
  }

  .grid-eba {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}